@model JobPortalv21.Models.Job.JobModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Keyword"] = Model.Keyword;
    ViewData["Description"] = Model.Description;
}

<div class="site-blocks-cover" style="background-image: url(/client-side/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row row-custom align-items-center">
            <div class="col-md-10">
                <h1 class="mb-2 text-black w-75 add-class-text"><span class="font-weight-bold">Sponsor Jobs</span> UK</h1>
                <div class="job-search">
                    <div class="tab-content bg-white p-4 rounded" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-job" role="tabpanel" aria-labelledby="pills-job-tab">
                            <form action="/search.html" method="get">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                                        <div class="select-wrap">
                                            <span class="icon-keyboard_arrow_down arrow-down"></span>
                                            <select name="industry" asp-for="Industry" asp-items="Model.Industries" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-2 mb-3 mb-lg-0">
                                        <div class="select-wrap">
                                            <span class="icon-keyboard_arrow_down arrow-down"></span>
                                            <select name="tier" asp-for="Tier" asp-items="Model.Tiers" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                        <input type="text" name="town" value="@Model.Town" class="form-control form-control-block search-input" placeholder="Location...">
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                        <input type="submit" id="btn-search" class="btn btn-primary btn-block" value="Search">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light" id="contain-job">
    <div class="container">
        @{
            foreach (var job in Model.JobViewModels.Result)
            {
                <div class="row" data-aos="fade">
                    <div class="col-md-12">
                        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                            <div class="mb-4 mb-md-0 mr-5">
                                <div class="job-post-item-header d-flex align-items-center">
                                    <h2 class="mr-3 text-black h4">
                                        <a href="/@job.SeoAlias-@(job.Id).html" class="dev-link">@job.Industry</a> 
                                    </h2>
                                    <div class="badge-wrap">
                                        <span class="bg-primary text-white badge py-2 px-4">A rating</span>
                                    </div>
                                </div>

                                <div class="job-post-item-body d-block d-md-flex">
                                    <div class="mr-3">
                                        <span class="fl-bigmug-line-portfolio23"></span>
                                        <a class="col-link">@job.Company</a>
                                    </div>
                                    <div><span class="fl-bigmug-line-big104"></span> <span>@job.City</span></div>
                                </div>
                            </div>
                            @{
                                <div class="ml-auto d-none d-sm-block">
                                    @if (Model.wishlistViewModels != null && Model.wishlistViewModels.Count > 0)
                                    {
                                        foreach (var item in Model.wishlistViewModels)
                                        {
                                            if (item.JobId == job.Id)
                                            {
                                                <a href="/wishlist-job-@(item.JobId).html" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
                                            }
                                        }
                                    }
                                    <a href="/@job.SeoAlias-@(job.Id).html" class="btn btn-primary py-2">View</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        @await Component.InvokeAsync("Pager", Model.JobViewModels)
    </div>
</div>
<script>
    document.getElementById("contain-job").scrollIntoView();
</script>