.mobile-scr {
    font-size: 43px !important;
}

.iphone-scr {
    font-size: 28px !important;
}

.login-service {
    background-color: #d8d8d8;
}

.pad-scr {
    font-size: 70px !important;
}

.mobile-scr {
    font-size: 43px !important;
}

.dev-link {
    color: black;
}

.red {
    color: #d44848
}

.detail-wt {
    margin-right: 0rem !important;
}

.widen-size {
    padding-top: 3em !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
    padding-bottom: 2em !important;
}

.text-menu {
    font-size: 17px;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #ff0000;
    display: inline-block;
    margin-bottom: -1px;
    padding-bottom: 8px;
    font-weight: 600;
}

.tree-menu {
    margin: 0px;
    padding: 0px;
}

.a-menu {
    font-size: 13px;
    color: #333333;
    transition: 0.5s all ease;
}

.li-menu {
    list-style: none;
    line-height: 24px;
}

.badge-wrap .fa-star {
    color: #FC0;
}

.tag-style {
    display: inline-block;
    line-height: 28px;
    margin: 5px 5px 0 0;
    list-style: none;
}

.tag-link {
    background: #efefef none repeat scroll 0 0;
    color: #838383;
    display: block;
    padding: 0 8px;
    text-decoration: none;
    border-radius: 2px;
}

.give-review {
    background-color: #53cde2;
    border-color: #53cde2;
}

.report-issue {
    background-color: #d55050;
    border-color: #d55050;
}

#search .input-group {
    border: 5px solid #e4e4e4;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background: #fff;
}

#search input {
    height: 38px;
    display: inline-block;
    width: 66%;
    border: none;
    background: #fff;
    box-shadow: none;
    font-size: 12px;
    padding-left: 12px;
}

#search button {
    line-height: 34px;
    padding: 4px 15px 0px;
    display: inline-block;
    background: #e83f33;
    border: none;
    color: #fff;
    border-left: 0px #e8e6e2 solid;
    position: absolute;
    right: 0px;
}

.sign-success {
    text-align: center;
}

.check-mark {
    content: "\f00c";
    font-size: 39px;
    color: #24b663;
}

.thank-you {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 2.20rem;
    margin-left: 7px;
}

.share-box .title {
    float: left;
    margin-right: 12px;
}

.socials-box a {
    font-size: 16px;
    width: 20px;
    display: inline-block;
    color: #9a9d9f;
    margin: 0 3px;
    text-align: center;
}

.social {
    margin-top: 15px;
}

    .social ul li {
        margin-right: 7px;
        display: inline-block;
    }


/****Footer***/
footer {
    overflow: hidden;
    color: #999;
    background: #333;
    font-size: 15px;
    padding-top: 35px;
}

    footer p {
        color: #999;
        line-height: 20px;
    }

    footer h3 {
        font-size: 13px;
        margin: 0px 0 2px;
        padding: 0 0 10px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
    }

    footer .footer-links ul {
        margin: 0px;
        padding: 0px
    }

        footer .footer-links ul li {
            list-style-type: none;
            padding: 5px 0;
            font-size: 12px;
        }

            footer .footer-links ul li a {
                transition: all .3s ease-in-out 0s;
                color: #999;
            }

                footer .footer-links ul li a:hover {
                    transition: all .3s ease-in-out 0s;
                    color: #e83f33
                }

.footer-logo {
    text-align: center;
    margin: -13px 0 18px;
    display: block;
}

    .footer-logo a {
        font-size: 25px;
        color: white;
    }

    .footer-logo p {
        display: block;
    }

.social {
    margin-top: 15px;
}

    .social ul.inline-mode li a:before {
        content: ""
    }

    .social ul.inline-mode li a {
        border: 0px solid #666;
        color: #fff;
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        width: 35px;
        display: inline-block;
        text-align: center;
        border-radius: 3px;
    }

    .social .fb a:hover, .social .tw a:hover, .social .googleplus a:hover, .social .rss a:hover, .social .instagram a:hover, .social .linkedin a:hover {
        background: #e83f33
    }

    .social .fb a {
        background: #3C5B9B
    }

    .social .tw a {
        background: #359BED
    }

    .social .googleplus a {
        background: #E33729
    }

    .social .rss a {
        background: #FD9F13
    }

    .social .instagram a {
        background: #3f729b
    }

    .social .linkedin a {
        background: #027ba5
    }

    .social h4 {
        margin: 25px 0 5px
    }

    .social ul {
        margin: 0;
        list-style: none;
    }

        .social ul li {
            margin-right: 7px;
            display: inline-block
        }

            .social ul li:last-child {
                margin-right: 0px;
            }

    .social a {
        transition: background 400ms ease-in-out;
        -webkit-transition: background 400ms ease-in-out;
        -moz-transition: background 400ms ease-in-out;
        -o-transition: background 400ms ease-in-out
    }

.text-center {
    padding-top: 0rem !important;
}

.reg-title {
    font-weight: bold;
    font-size: 16px;
}

.list-not {
    margin: 14px;
    padding: 0px;
}

    .list-not li {
        font-size: 15px;
    }

.confirm-email {
    padding: 3rem !important;
    background-color: #fff !important;
    margin-bottom: 1rem !important;
}

.log-out {
    padding: 5px 20px;
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > form > a {
    padding-left: 40px;
    font-size: 16px;
}

.url-dash li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 10px;
    display: inline-block;
    cursor: pointer;
    line-height: 16px;
    color: #333333;
}


.url-dash > li > a {
    padding: 0 12px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    color: black;
    font-size: 14px;
}

.url-current {
    font-weight: bold;
}

.padding-uni {
    padding: 28px !important;
}

.padding-r {
    margin-right: 10px !important;
}

.user-pad {
    padding: 28px !important;
}

.newsletter-pad {
    padding: 28px;
    padding-top: 0px;
}

    .newsletter-pad h5 {
        font-weight: 600;
    }

.div-back {
    background-color: white
}

.wish-styl {
    color: black;
    font-weight: bolder
}

.top-mar {
    margin-top: 11px;
}

.erro-display {
    color: red;
}

.col-link {
    color: #26baee !important;
}
