<div class="modal fade" id="btn-excel-options" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"><strong>Import/Export Jobs</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Type</th>
                        <th>Option</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Import</strong> &nbsp;
                                <button class="btn btn-dark">Download Template</button>
                            </td>
                            <td class="col-sm-6 col-md-6 col-lg-6">
                                <button class="btn btn-info col-sm-5 col-md-5 col-lg-5" id="btn-import-excel">Import</button>
                                <input type="file" style="display:none" id="file-import-excel" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Export</strong>
                            </td>
                            <td>
                                <button class="btn btn-success col-sm-5 col-md-5 col-lg-5">Export</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>