
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="unit-5 overlay" style="background-image: url('/client-side/images/hero_bg_2.jpg');">
    <div class="container text-center">
        <h2 class="mb-0">About us</h2>
        <p class="mb-0 unit-6"><a href="/">Home</a></p>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-5" data-aos="fade">
                <img src="/client-side/images/about.jpg" class="img-md-fluid" alt="Placeholder image">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0">
                    <h2 class="font-weight-bold text-black" data-aos="fade">About</h2>
                    <p>
                        Our mission is simple: to help all workers and international students find sponsor jobs fit their criteria!
                        As a registered user of Jobportal, you can receive email job newsletter, apply for sponsor job, manage your job list,
                        store your wishlist job securely online. We also offer a range of career advice, news and information, all designed and
                        update in our new blogs to help you whatever stage you're at in your career..
                    </p>
                    <ul class="site-block-check">
                        <li>Latest sponsor jobs list.</li>
                        <li>Very simple and easy to use!</li>
                        <li>Manage work lists effectively.</li>
                        <li>Find out information about companies quickly.</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
