
@{
    ViewData["Title"] = "Job Feedback";
}

@section Scripts{
    <script src="~/app/controller/job/jobReview.min.js"></script>
}

<div class="page-title">
    <div class="title_left">
        <h3>Feedback Management</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
            <div class="input-group">
                <input type="text" id="txt-review-keyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-info" title="Search..." id="btn-search-review" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-bordered table-striped" id="tbl-review">
                        <thead>
                            <tr>
                                <th width="3%">ID</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th width="9%">Options</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-review-content"></tbody>
                    </table>
                    <!--Pageination-->
                    <div class="row">
                        <div class="col-sm-4">
                            Show <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                Review/Page.
                            </span>
                            Total: <strong id="lbl-total-review"></strong>
                        </div>
                        <div class="col-sm-5 pull-right dataTables_paginate">
                            <ul id="pagination-review" class="pagination-sm pull-right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="tbl-review-template" type="x-tmpl-mustache">
    <tr>
        <td><strong>{{Id}}</strong></td>
        <td>{{Email}}</td>
        <td>{{Name}}</td>
        <td>{{CreatedDate}}</td>
        <td>{{{Status}}}</td>
        <td>
            <button class="btn btn-sm btn-secondary btnUpdateReview" title="Edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-sm btn-danger btnDeleteReview" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</script>
<partial name="_EditReview">
