<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modal-wishlist" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"><strong>Wishlist Details</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal form-font" role="form" id="frm-blog">
                        <input type="hidden" id="hid-blog-id" />
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="control-label" for="name">Industry</label>
                                <div>
                                    <input type="text" class="form-control" name="txtBlogName" id="txt-industry" placeholder="industry..." />
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="control-label" for="name">Company</label>
                                <div>
                                    <input type="text" class="form-control" name="txtCompany" id="txt-company" placeholder="Company..." />
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="Content"></label>
                                <div>
                                    <textarea id="txt-wishlist-content" cols="8" rows="10" name="txtWishlistContent" placeholder="Content..."></textarea>
                                </div>
                            </div>
                            <input type="hidden" id="hid-wishlist-date" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">Close</button>
                @*<button type="button" id="btn-save-blog" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

